*{
    margin: 0;
    padding: 0;
}

body{
    background: #be9a9a;
    padding: 30px;
}

.card{
    background: #ffffff;
    width: 300px;
    height: 405px;
    border: 2px solid black;
    border-radius: 7px;

}

.image{
    padding: 8px;
    

    
}

.image img{
    width: 280px;
    border-radius: 10px;
}
.capsul{
    padding: 10px;
}
.capsul span{
    border: 1px solid rgb(192, 72, 172);
    font-size: 18px;
    padding: 5px;
    border-radius: 30px;
   

}

.contant{
    padding: 10px;
}

.contant h1{
    font-size: 26px;
}

.contant p{
    font-size: 22px;
}

.buttons{
   padding: 0 115px;
   border: 4px solid rgb(176, 183, 218);
   border-radius: 20PX;
   
   
}

.button buttons{
    border: 10px solid green;
} 


